<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dead-Writer Tweets</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400|Roboto:100,200,300,400" rel="stylesheet"> -->

    <!-- Link in our stylesheet -->
    <link re="stylesheet" type="text/css" href=".../static/tweet.css">
    <!-- Make sure this is inside of our <head> -->

    <style>

    .dynamic, .static {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
    }

    .dynamic{
        z-index: 1
    }

    .buttons{
        background: orange;
        /* background: transparent; */
        /* border: none !important; */
        font-size:0;
        z-index:2;
        float:left;
        animation: pulse 5s infinite;
        position: absolute;
        bottom: 15px;
        left:13%;
        margin-left:-150px;
        opacity: 0.2;
        font-size: 30px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }


.buttons:hover {
    opacity: 1;
}

    body {background-color: black;}

    h1 {
        animation: pulse 5s infinite;
        color: orange;
        position: absolute;
        z-index: 10;
        font-family: monospace;
        size: 10px;
        opacity: 0.9;
    }

    </style>

  </head>

 <body bgcolor="#E6E6FA">

<div class="buttons">
<input id="Grimm" type="button" value="The Brothers Grimm" onclick="myFunction()">
<input id="Poe" type="button" value="Edgar Allan Poe" >
<input id="Wilde" type="button" value="Oscar Wilde" >
<input id="Woolf" type="button" value="Virginia Woolf" >
<input id="Carroll" type="button" value="Lewis Carroll" >
<input id="Shakespeare" type="button" value="William Shakespeare" >
<input id="Lovecraft" type="button" value="HP Lovecraft" >
<input id="Tweet" type="button" value="Tweet" >
<input id="Keep" type="button" value="Keep" >
</div>

<h1 id="title">helo hllo</h1>

<div class="dynamic">
<video autoplay muted loop id="myVideo">
  <source src="../finals/1door-closed-A.mp4" type="video/mp4">
</video>
</div>

<div class="static">
<video autoplay muted loop id="myVideo-background">
  <source src="../finals/1door-closed-A.mp4" type="video/mp4">
</video>
</div>

<script>

var video = document.getElementById("myVideo");
video.playbackRate = 1;

const button_1 = document.getElementById("Grimm");
const button_2 = document.getElementById("Poe");
const button_3 = document.getElementById("Wilde");
const button_4 = document.getElementById("Woolf");
const button_5 = document.getElementById("Carroll");
const button_6 = document.getElementById("Shakespeare");
const button_7 = document.getElementById("Lovecraft");
const button_8 = document.getElementById("Tweet");
const button_9 = document.getElementById("Keep");
var titleElement = document.getElementById('title');
var open = false;
var tweet;

var clip = "../finals/5door-closed-C.mp4";
const clips = ["../finals/jar1-final.mp4", "../finals/jar2-final-C.mp4", "../finals/jar3-final-D.mp4", "../finals/jar4-final-F.mp4", "../finals/jar5-final-F.mp4", "../finals/jar6-final-B.mp4", "../finals/jar7-final-B.mp4", "../finals/2door-opening.mp4", "../finals/3door open.mp4", "../finals/4door-closing.mp4", "../finals/1door-closed-A.mp4"]

button_1.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
//    titleElement.innerHTML = "grimm";
    video.setAttribute("src", clips[0]);
    video.load();
    video.playbackRate = 1.2;
    video.loop = false;
    titleElement.innerHTML = tweet;

})

button_2.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))

    video.setAttribute("src", clips[1]);
    //video.load();
    video.playbackRate = 1.7;
    video.loop = false;
    titleElement.innerHTML = 'pee';
})

button_3.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[2]);
    video.load();
    video.playbackRate = 1.5;
    video.loop = false;
})

button_4.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[3]);
    video.load();
    video.playbackRate = 1.5;
    video.loop = false;
})

button_5.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[4]);
    video.load();
    video.playbackRate = 1.5;
    video.loop = false;
})

button_6.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[5]);
    video.load();
    video.playbackRate = 1.4;
    video.loop = false;
})

button_7.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[6]);
    video.load();
    video.playbackRate = 1.7;
    video.loop = false;
})

button_8.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[7]);
    video.load();
    video.playbackRate = 1;
    video.loop = false;
    open = true;
})

button_9.addEventListener('click', function(e){
    //num = Math.floor(Math.random() * Math.floor(clips.length))
    video.setAttribute("src", clips[9]);
    video.load();
    video.playbackRate = 1;
    video.loop = false;
    open = false;
})

video.onended = function(e) {
    if (open == false) {
    video.setAttribute("src", clips[10]);
    video.load();
    video.playbackRate = 1.7;
    video.loop = true;
} else {
    video.setAttribute("src", clips[8]);
    video.load();
    video.playbackRate = 1.7;
    video.loop = true;
}
    };

</script>

<script src="tweet.js"></script>

<a href='linkhref.html' id='mylink'>click me</a>

<script type="text/javascript">

var myLink = document.getElementById('Grimm');

Grimm.onclick = function(){

    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "../tweet.js.";
    document.getElementsByTagName("head")[0].appendChild(script);
    return false;

}


</script>

</body>
</html>
